/* fonts */
@import url(https://fonts.googleapis.com/css?family=Playfair+Display:regular,500,600,700,800,900,italic,500italic,600italic,700italic,800italic,900italic);
@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

/* html */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid red; */
}

/* body */
body {
  font-family: 'Playfair Display', serif;
  margin: 5vh 45vh;
}

header p {
  text-transform: uppercase;
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  line-height: 64px;
  color: #000000;
  width: 587px;
}

.comment {
  display: flex;
  flex-direction: row;
  color: #4F4F4F;
  width: 520px;
}

.comment p {
  font-family: 'Montserrat', sans-serif;
  font-style: italic;
  font-weight: 500;
  font-size: 13px;
  line-height: 17px;
}

.comment img {
  padding-top: 5px;
  padding-right: 7px;
  height: fit-content;
}

.content {
  margin-top: 20px;
}

.content .meal-img img{
  width: 100vh;
}