/* fonts */
@import url(https://fonts.googleapis.com/css?family=Playfair+Display:regular,500,600,700,800,900,italic,500italic,600italic,700italic,800italic,900italic);
@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

/* html */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 1px solid red;
}

/* body */
body {
  font-family: 'Playfair Display', serif;
  margin: 5vh 35vh;
}

header p {
  text-transform: uppercase;
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  line-height: 64px;
  color: #000000;
  width: 587px;
}

.comment {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  color: #4F4F4F;
  width: 520px;
}

.comment p {
  font-family: 'Montserrat', sans-serif;
  font-style: italic;
  font-weight: 500;
  font-size: 13px;
  line-height: 17px;
}

.comment img {
  padding-top: 5px;
  padding-right: 15px;
  height: fit-content;
}

.content {
  margin-top: 25px;
}

.content .meal-img img {
  width: 120vh;
}

.content-desc {
  margin-top: 30px;
  display: flex;
}

/* .content-desc .ingredients */
.lead {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #333333;
}

.content-desc .ingredients .item {
  margin-top: 20px;
  font-style: italic;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #333333;
}

.content-desc ul {
  margin-top: 20px;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  color: #333333;
}

.content-desc ul li {
  padding-top: 10px;
  list-style-type: none;
}

.content-desc .ingredients {
  width: 554px;
}

.content-desc .flyer {
  margin-left: 150px;
  background: #FFFFFF;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  width: 216px;
  height: 367px;
  padding: 60px 40px;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 17px;
}

.flyer .cont .hder {
  font-size: 11px;
  text-transform: uppercase;
  color: #BDBDBD;
}

.content-desc .flyer .cont {
  margin-bottom: 30px;
  display: flex;
}

.cont .clock-ico,
.dine-ico {
  padding-right: 5px;
}

.instructions {
  margin-top: 30px;
}

.instructions ul {
  padding-top: 10px;
  width: 570px;
}

.instructions ul li {
  font-family: 'Montserrat',
    sans-serif;
  padding-bottom: 20px;
  font-style: normal;
  font-weight: 410;
  font-size: 16px;
  line-height: 150%;
}

.link {
  margin-top: 30px;
  font-family: 'Montserrat', sans-serif;
  font-style: italic;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #BDBDBD;
}

.footer {
  text-align: center;
  margin-top: 20vh;
  font-family: 'Montserrat',
    sans-serif;
}

.footer a {
  text-decoration: none;
  font-weight: 500;
  color: #828282;
}